{{ form_start(form) }}
    {# Itérer sur les champs de la collection Notations #}
    {% for notation in form.Notations %}
      <div class="notation-entry">
        <label>Your feeling for level {{ notation.vars.data.songDifficulty.level }}</label>
        {{ form_widget(notation) }}
        {{ form_errors(notation) }}
        {# Rend uniquement les champs sans le label ni les index #}
      </div>
    {% endfor %}

    {# Bouton de soumission #}
<button type="submit" class="btn btn-primary">Submit</button>

{{ form_end(form) }}
