{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ event.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Banner</th>
                <td>{{ event.banner }}</td>
            </tr>
            <tr>
                <th>RegistrationStartAt</th>
                <td>{{ event.registrationStartAt ? event.registrationStartAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>RegistrationEndAt</th>
                <td>{{ event.registrationEndAt ? event.registrationEndAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>StartAt</th>
                <td>{{ event.startAt ? event.startAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ event.endAt ? event.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ScoreMath</th>
                <td>{{ event.scoreMath }}</td>
            </tr>
            <tr>
                <th>PriceDescription</th>
                <td>{{ event.priceDescription }}</td>
            </tr>
            <tr>
                <th>MaxPlayers</th>
                <td>{{ event.maxPlayers }}</td>
            </tr>
            <tr>
                <th>Players</th>
                <td>{{ event.players }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ event.state }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ event.slug }}</td>
            </tr>
            <tr>
                <th>SongDifficulties</th>
                <td>{{ event.songDifficulties }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ event.updatedAt ? event.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_crud_tournament_index') }}">back to list</a>

    <a href="{{ path('app_crud_tournament_edit', {'id': event.id}) }}">edit</a>

    {{ include('crud_tournament/_delete_form.html.twig') }}
{% endblock %}
